<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
    
</head>
<body class="about">
<title>About</title>
    <div class="description" >
        
        <p>Minnesota is home to the country's largest population of Somali residents. In fact Star Tribune came out with an article in 2017 nicknaming Minnesota 'little Mgadishu'. Somalia is known for many delicious dishes I picked the top 6 dishes popular. </p>
            
        <p>If you have a dish you would like to add feel free to do so.</p>
        
        <p>Thank you!</p> 
        </div>
</body>
</html>


