<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css" />
    
</head>
<title>Add a Dish</title>
<body>
    <form action="/foods" method="POST">
        <h3 class="feature-title">Add a Dish</h3>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Name" name="">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Description" name="Description">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Image" name="Image">
        </div>
        <input type="submit" class="btn btn-secondary btn-block" value="Submit" >
    </form>
</body>
</html>
