

.home-page-cover, .about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("https://i.imgur.com/i4zNqtj.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}
.navbar {
    background:#6ab446;
}
.nav-link, .navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: rgb(2, 61, 2);
}
.navbar-collapse {
    justify-content: flex-end;
}

.description, #about {
	left: 50%;
	position: absolute;
	top: 55%;
	transform: translate(-50%, -55%);
	text-align: center;
}
.description h1 {
	color: #6ab446;
}
.description p {
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.5;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 50px;
    }



.delete, .edit, .back-btn { 
    text-decoration: none;
 }

.container2 {
    align-items: center;
}

.features .form-control,
.features input {
	border-radius: 0;
}
.features .btn {
    background-color: #589b37;
    border: 1px solid #589b37;
    color: #fff;
    margin-top: 20px;
}
.features .btn:hover {
    background-color: #333;
    border: 1px solid #333;
}



input, .edit, #new-img{
    background-color: transparent;
    border: 0px solid;
    align-items: center;
    color: green;
    margin: 10px 5px auto 20px;
    font-weight: bold;
}

img {
    margin: 1px 5px auto 4px;
}
.fdescription {
    padding: 0;
    color: rgba(29, 103, 25, 0.618);
}

h5, .food-name{
    color: green;
    font-weight: bold;
}
